<%= form_with url: create_article_path, local: true do |f| %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
</p>

<p>
  <%= f.label :body %><br />
  <%= f.text_field :body %><br />
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
